@font-face {
  font-family: 'socials';
  src: url('../otr/socials/socials.eot?-h0benp');
  src: url('../otr/socials/socials.eot?#iefix-h0benp') format('embedded-opentype'),
    url('../otr/socials/socials.woff?-h0benp') format('woff'),
    url('../otr/socials/socials.ttf?-h0benp') format('truetype'),
    url('../otr/socials/socials.svg?-h0benp#socials') format('svg');
  font-weight: normal;
  font-style: normal; }

  [class^="ico-"], [class*=" ico-"] {
    font-family: 'socials';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

    .ico-stack:before {
      content: ""; }

      .ico-envelope:before {
        content: ""; }

        .ico-box-add:before {
          content: ""; }

          .ico-mail:before {
            content: ""; }

            .ico-googleplus:before {
              content: ""; }

              .ico-facebook:before {
                content: ""; }

                .ico-twitter:before {
                  content: ""; }

                  .ico-vimeo:before {
                    content: ""; }
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

  html {
    padding: 0;
    height: 100%; }

    body {
      height: 100%;
      padding: 0;
      background: #243044 url("../img/bg.jpg") no-repeat center;
      background-size: cover;
      background-attachment: fixed;
      font-family: expo-sans-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-weight: 200;
      font-size: 16px;
      color: #F4F7FD;
      text-shadow: 1px 1px 1px #424242;
      letter-spacing: 1px; }
      body .page-wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -14em;
        background-color: rgba(0, 0, 0, 0.3); }
        body .push {
          height: 14em;
          pointer-events: none; }
          body footer {
            height: 10em; }
            body a {
              color: #6BC9FB;
              font-weight: 200; }
              body a.btn {
                font-weight: 200; }
                body a.no-decor {
                  text-decoration: none; }
                  body a.secondary-link {
                    text-decoration: none;
                    border-bottom: 1px dotted white; }
      body p {
        line-height: 1.3em; }

.clear:after {
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both; }

.btn {
  position: relative;
  display: inline-block;
  background-color: #44698a;
  border: 2px solid #557a9b;
  border-radius: 3px;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  color: #ddd;
  text-shadow: 1px 1px 0 #0b2c4d;
  box-shadow: 1px 2px 0 #0b2c4d;
  margin: 5px auto;
  text-decoration: none;
  cursor: pointer; }
  .btn.small {
    font-size: 1.1rem;
    padding: 0.5rem 0.6rem; }
    .btn:active {
      top: 1px;
      box-shadow: 1px 1px 0 #0b2c4d; }

.overlay {
  position: fixed;
  z-index: 20;
  background-color: rgba(100, 100, 100, 0.1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

  .fb-placer {
    z-index: 120;
    margin: -0.5rem auto 2rem auto;
    width: 120px;
    display: block; }

    .content-wrap {
      position: relative;
      z-index: 100;
      max-width: 70rem;
      margin: 0 auto; }

      .nav {
        position: relative;
        float: right;
        margin-top: 1rem;
        margin-right: 2rem;
        z-index: 200; }
        .nav a {
          text-transform: uppercase;
          text-decoration: none; }
          .nav .nav-item {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            display: block; }
            .nav .nav-item.fb {
              display: block;
              height: 24px;
              overflow: hidden; }
              .nav .nav-item.fb .fb-like {
                max-width: 200px; }
            .nav .nav-item a {
              color: white !important;
              padding-right: 1rem;
              padding-left: 1rem;
              border-right: 2px solid #f4f4f4; }
              .nav .nav-item a:last-of-type {
                border-right: none;
                padding-right: 0; }
        .nav .fb-like {
          float: right; }

.section {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important; }

  header {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 48rem;
    max-width: 70%;
    text-align: center;
    color: #f0f2f5;
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px #555;
    z-index: 100; }
    header p {
      margin-top: 20px; }
      header .logo {
        margin: 0 auto;
        width: 60%;
        max-width: 100%;
        max-height: 100%; }

.info {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 43rem; }
  .info h1, .info h2, .info h3, .info h4 {
    margin-bottom: 1em; }
    .info h1 {
      text-align: center; }
      .info h4 {
        display: inline-block;
        border-bottom: 1px solid white; }
        .info p {
          position: relative;
          padding-right: 2rem;
          margin: 1em 0; }
          .info img {
            max-width: 90%; }
            .info .docblock {
              margin-top: 3.5rem; }
              .info .map-location {
                background-color: rgba(255, 255, 255, 0.1); }
                .info table td {
                  padding: 0.3rem 0.7rem; }
                  .info table td:nth-child(2) {
                    border-left: 1px solid white; }
                    .info table td:first-of-type {
                      text-align: right; }
  .info.center {
    text-align: center; }
    .info .clear {
      height: 1em; }

.toc a {
  text-decoration: none;
  border-bottom: 1px dotted white; }
  .toc ul {
    padding: 0;
    margin: 0; }
    .toc ul li {
      list-style: none; }

.press-kit {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 27rem;
  padding: 2rem 0.8rem; }
  .press-kit a {
    color: white;
    text-decoration: none;
    display: inline-block;
    opacity: 0.8; }
    .press-kit a:hover {
      opacity: 1; }
  .press-kit i {
    display: block;
    font-size: 4rem;
    margin-bottom: 0.4rem; }

.images {
  margin: 0 auto;
  text-align: center;
  padding: 0 2rem;
  max-width: 84rem; }
  .images span {
    display: inline-block;
    margin: 0 auto; }
    .images img {
      max-width: 100%;
      background-color: rgba(255, 255, 255, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.4);
      border-radius: 3px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }

footer {
  background-color: #0f0f13;
  width: 100%;
  margin-top: 4em; }
  footer .width-wrap {
    display: block;
    margin: 0 auto;
    max-width: 35rem; }
    footer ul {
      float: left;
      padding: 2rem 1.5rem;
      width: 49%; }
      footer ul li {
        list-style: none;
        padding: 0.4rem 0; }
        footer ul li a {
          border-bottom: 1px dotted white;
          text-decoration: none;
          color: #ccc; }

@media screen and (max-width: 43rem) {
  header {
    width: 90%;
    max-width: 100%;   }
    header .logo {
      width: 70%;   }
      header .logo {
        opacity: 0.83;   }
}

@media screen and (max-width: 50rem) {
  .images span {
    width: 80%;   }
}

@media screen and (max-width: 30rem) {
  header .logo {
    width: 87%;   }
    header .logo {
      opacity: 0.93;   }
      .info {
        max-width: 90%;
        padding: 0;   }
        .images span {
          width: 98%;   }
          .width-wrap {
            max-width: 30%;   }
}
