{% extends 'base.html' %}

{% block content %}
<article>
	<section class="section info">
		<h1>Mission</h1>
		<p>Empower everyday people to care for those experiencing homelessness in their own community by meeting immediate needs, making friends, and providing referrals to long-term solutions.</p>
    <section class="section info">
	    <h1>History</h1>
	    <p>In the fall of 2014, recent University of Washington graduate Eddie Wang decided to bring together a team of volunteers to care for the immediate needs of homeless persons in King County through the use of sleeping bags. The idea to focus on sleeping bags came from Eddie's own experiences working with the homeless and his experiences as a Social Work major at the University of Washington.</p>
	    <p>The volunteer team, fundraised over $75,000 through a <a href="https://www.indiegogo.com/projects/sleepless-in-seattle-seattle-gives-back">fall 2014 Indiegogo crowdsourcing campaign</a> and other outside donations and hosted a “Big Give” event where 220 volunteers from around the county gathered to be sent out all around King County to meet every person in need with a sleeping bag (<a href="http://www.komonews.com/news/local/More-than-3200-homeless-in-King-County-rec-285755091.html">KOMO Coverage</a>). In 2015, the team raised $90,000 through an <a href="http://bit.ly/sleepless2015">Indiegogo campaign</a> and outside donations. The Big Give is now an annual event focused on helping keep every homeless person in King County warm for the winter through sleeping bags and other related goods.</p>
	    <p>Going forward, the Sleepless in Seattle team is committed to not only meeting immediate needs but meeting, serving, and befriending those experiencing homelessness on an ongoing basis through our Neighborhood Teams. Visit our <a href="{{ url_for('volunteer') }}">volunteer page</a> to learn more. </p>
	</section>
	<section class="section images">
	    <h1>Partners</h1>
	    <p>Sleepless in Seattle is proud to partner with a host of non-profits and businesses in the region.</p>
	    <h4>Sponsorships</h4>
	    <span><a href="sponsorships.html"><img src="static/img/sponsors.jpg"></a></span>
		<h4>Non-Profit Partnerships</h4>
		<span><img src="static/img/sec-sponsors.jpg"></span>
	</section>
</article>
{% endblock %}