{% extends 'base.html' %}

{% block content %}
<article>
	<section class="section info">
		<h1>Mission</h1>
		<ol>
		    <li>Meet the immediate needs of people who are homeless in King County through sleeping bags, friendship, and referrals to community services.</li>
            <li>Develop awareness, sensitivity, and confidence in volunteers.</li>
            <li>Raise awareness about the challenges people who are homeless within King County face.</li>
		</ol>
    <section class="section info">
	    <h1>History</h1>
	    <p>In the fall of 2014, recent University of Washington graduate Eddie Wang decided to bring together a team of volunteers to care for the immediate needs of homeless persons in King County through the use of sleeping bags. The idea to focus on sleeping bags came from Eddie's own experiences working with the homeless and his experiences as a Social Work major at the University of Washington.</p>
	    <p>The volunteer team, fundraised over $75,000 through a November 2014 <a href="https://www.indiegogo.com/projects/sleepless-in-seattle-seattle-gives-back">Indiegogo crowdsourcing campaign</a> and other outside donations. They also partnered with 17 non-profits to raise awareness and distribute sleeping bags. On December 13th, 2014, the team hosted a “Big Give” event where 220 volunteers from around the county gathered at Serve Seattle, an affiliate of Union Gospel Mission. The volunteers were split into 50 teams. Each team was sent to a predesignated zone in King County to meet those in need friendship and a sleeping bag.</p>
		<p>The Sleepless in Seattle team is currently planning for the 2015 fundraising campaign (10/13/2015-11/6/2015), Big Give on 11/21/2015, and ongoing volunteer efforts through neighborhood teams.</p>

	</section>
	<section class="section images">
	    <h1>Partners</h1>
	    <p>Sleepless in Seattle is proud to partner with a host of non-profits and businesses in the region.</p>
	    <h4>Sponsorships</h4>
	    <span><a href="sponsorships.html"><img src="static/img/sponsors.jpg"></a></span>
		<h4>Non-Profit Partnerships</h4>
		<span><img src="static/img/sec-sponsors.jpg"></span>
	</section>
</article>
{% endblock %}