<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<meta property="og:title" content="Sleepless in Seattle" />
	<meta property="og:image" content="http://sleeplessinseattle.org/static/img/og_image.png" />
	<title>Sleepless in Seattle</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
	{% block head %}{% endblock %}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-55968875-2', 'auto');
		ga('create', 'UA-53259302-3', 'auto', {'name':'eddieTracker'});

		ga('send', 'pageview');
		ga('eddieTracker.send', 'pageview');
	</script>
</head>
<body>
<div class="page-wrap">
	<div id="fb-root"></div>
	<div class="content-wrap">
		<nav class="nav">
			<span class="nav-item">
				<a href="{{ url_for('home') }}">Home</a>
			    <a href="{{ url_for('about') }}">About Us</a>
			    <a href="{{ url_for('volunteer') }}">Volunteer</a>
			    <a href="{{ url_for('donate') }}">Donate</a>
			    <a href="{{ url_for('contact') }}">Contact</a>
			    <a href="{{ url_for('press_kit') }}">Press</a>
			</span>
			<span class="fb nav-item"><div class="fb-like" data-href="https://www.facebook.com/sleeplessinseattlegiving" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></span>
		</nav>
		<div class="clear"></div>
		<header>
			<a href="{{ url_for('home') }}"><img class="logo" src="{{ url_for('static', filename='img/header.png') }}"></a>
		</header>
		<main>
	        {% block content %}{% endblock %}
		</main>
	</div>
	<div class="push"></div>
</div>

<footer>
	<nav class="width-wrap">
		<ul>
			<li><a href="{{ url_for('about') }}">About</a></li>
			<li><a href="{{ url_for('volunteer') }}">Volunteer</a></li>
			<li><a href="{{ url_for('donate') }}">Donate</a></li>
			<li><a href="{{ url_for('contact') }}">Contact</a></li>
		</ul>
		<ul>
			<li><a href="{{ url_for('press_kit') }}">Press</a>
			<li><a href="https://www.facebook.com/sleeplessinseattlegiving">Facebook</a></li>
			<li><a href="https://twitter.com/seattlesleeping">Twitter</a></li>
			<li><a href="https://www.instagram.com/sleeplessinseattlegiving/">Instagram</a></li>
		</ul>
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
		<form action="//centered.us3.list-manage.com/subscribe/post?u=9df5764ce526eb7ac9f83ab7c&amp;id=2837ece5a2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
			<input type="email" placeholder="Receive news and volunteering opportunities" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn">
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true">
		    	<input type="text" name="b_9df5764ce526eb7ac9f83ab7c_2837ece5a2" tabindex="-1" value="">
		    </div>

		</div>
		</form>
		</div>
		<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		<!--End mc_embed_signup-->
	</nav>
</footer>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
