{% extends 'base.html' %}

{% block head %}
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:none; clear:left; }
	#mc_embed_signup .button {
		background-color: #606a8a;
		font-size: 1rem;
		line-height: 2.2rem;
		padding: 0 1.2rem;
		font-weight: normal;
		border-radius: 2px;
		height: auto;
	}
	#mc_embed_signup .button:hover {
		background-color: #707a9a;
	}
	#mc_embed_signup .asterisk {
		position: relative;
		top: 7px;
	}
	#mc_embed_signup .mc-field-group .asterisk {
		top: 35px;
		right: 20px;
	}
	#mc_embed_signup .mc-field-group input {
		font-size: 1rem;
		padding: 0;
		line-height: 2rem;
	}
</style>
{% endblock %}
{% block content %}
<section class="section info center">
<p>To contact the Sleepless in Seattle team, please email us at <a href="mailto:sleeplessinseattlegiving@gmail.com">sleeplessinseattlegiving@gmail.com</a>.</p>
<pre>
Sleepless in Seattle
8420 Greenwood Ave N
Seattle, WA 98103
</pre>
</section>
{% endblock %}