{% extends 'base.html' %}

{% block content %}
<section class="section info">
	<h1>Donate to Sleepless in Seattle</h1>
	<p>If you are interested in supporting Sleepless in Seattle's grassroots efforts to meet the needs of those experiencing homelessness in King County, you are welcome to contribute online or through a mailed check. All donations are tax-deductible.</p>

	<form style="text-align: center;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="LF8GZM28URYP2">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>

	<p>If you would like to submit a donation by check to Sleepless in Seattle, please mail to:</p>
<pre>
Sleepless in Seattle
8420 Greenwood Ave N.
Seattle WA 98103
</pre>
	<p>Please write the check to the order of "<a href="http://www.theuppercrustcatering.com/#!urban-hands/cff1">Urban Hands</a>" memo "Sleepless in Seattle." 100% of donations goes directly towards buying sleeping bags and related goods in discounted bulk rates. Minor administrative costs are covered out-of-pocket by the Sleepless in Seattle core team.</p>
	<p class="caption">Urban Hands is the sponsoring non-profit behind Sleepless in Seattle. Urban Hands is a registered 501(c)(3) non-profit committed to providing nutritious meals and work opportunities for homeless and hungry neighbors in the Puget Sound area. They partner with local organizations in need of food services in order to sustain life, build community, and foster human dignity. On any given week, Urban Hands donates over 1,000 high quality, nutritious catered meals to those in need.</p>
</section>
{% endblock %}