{% extends 'base.html' %}

{% block content %}
<section class="section info">
	<h1>Donate to Sleepless in Seattle</h1>
	<p>If you would like to submit a donation by check to Sleepless in Seattle, please mail to:</p>
<pre>
Sleepless in Seattle
8420 Greenwood Ave N.
Seattle WA 98103
</pre><p>with a check paid to the order of "Urban Hands" memo "Sleepless in Seattle." 100% of donations goes directly towards buying sleeping bags and related goods in discounted bulk rates. Minor administrative costs are covered out-of-pocket by the Sleepless in Seattle core team.</p>
	<p>Urban Hands is the sponsoring non-profit behind Sleepless in Seattle. Urban Hands is a registered 501(c)(3) non-profit committed to providing nutritious meals and work opportunities for homeless and hungry neighbors in the Puget Sound area. They partner with local organizations in need of food services in order to sustain life, build community, and foster human dignity. On any given week, Urban Hands donates over 1,000 high quality, nutritious catered meals to those in need.</p>
</section>
{% endblock %}