{% extends 'base.html' %}
{% set CAMPAIGN="http://bit.ly/sleepless2015" %}

{% block content %}
<article>
	<section class="section info">
		<p>Sleepless in Seattle is a volunteer-led group based out of Seattle, WA committed to caring meeting, serving, and befriending those experiencing homelessness in King County with sleeping bags and a smile.</p>
		<p>We will be hosting our 2017 Big Give on Saturday, December 16th from 2pm-8pm at six different locations around King County. Together, we will raise over $60,000 to purchase and distribute sleeping bags, mats, and care packages to every homeless person in King County with the help of 360 volunteers. If you are interested in participating, please refer to the following links:</p>
		<ul>
			<li><a href="https://www.facebook.com/events/1853409021545354/">Facebook Event Page</a></li>
		</ul>
		<iframe src="https://player.vimeo.com/video/183819860" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</section>
	<section class="section images">
		<h2>In the Press</h2>
		<span><a href="press_kit.html"><img src="static/img/as_seen_on.png"></a></span>
	</section>
</article>
{% endblock %}
