{% extends 'base.html' %}
{% set CAMPAIGN="http://bit.ly/sleepless2015" %}

{% block content %}
<article>
	<section class="section info">
		<a href="{{ CAMPAIGN }}"><h1>Click here to visit the Sleepless in Seattle 2015 Campaign</h1></a>
		<iframe width="640" height="360" src="https://www.youtube.com/embed/Ct0CDQ_r3-c" frameborder="0" allowfullscreen></iframe>
		<p>The Sleepless in Seattle team is currently in the midst of a fundraising campaign to purchase and distribute sleeping bags and winter care packages to every homeless person in King County. Please visit <a href="{{ CAMPAIGN }}">our Indiegogo page</a> for more information.</p>
	</section>
	<section class="section images">
		<h2>In the Press</h2>
		<span><a href="press_kit.html"><img src="static/img/as_seen_on.png"></a></span>
	</section>
</article>
{% endblock %}