{% extends 'base.html' %}
{% set CAMPAIGN="http://bit.ly/sleepless2015" %}
{% block head %}
<meta name="description" content="Sleepless in Seattle is a volunteer-led group based out of Seattle, WA committed to caring meeting, serving, and befriending those experiencing homelessness in King County with sleeping bags and a smile. The Big Give is now an annual event focused on helping keep every homeless person in King County warm for the winter through sleeping bags and other related goods.">
{% endblock %}
{% block content %}
<article>
	<section class="section info">
		<p>Sleepless in Seattle is a volunteer-led group based out of Seattle, WA committed to caring meeting, serving, and befriending those experiencing homelessness in King County with sleeping bags and a smile.</p>
		<p>We will be hosting our 2017 Big Give on Saturday, December 16th from 2pm-8pm at six different locations around King County. Together, we will raise over $60,000 to purchase and distribute sleeping bags, mats, and care packages to every homeless person in King County with the help of 360 volunteers. If you are interested in participating, please refer to the following links:</p>
		<ul>
			<li><a href="https://goo.gl/forms/qBvOuGYC0PThIkMN2">Volunteer Interest Form</a></li>
			<li><a href="https://www.facebook.com/sleeplessinseattlegiving/">Facebook Page</a></li>
		</ul>
		<div class="clear"></div>
		<iframe src="https://player.vimeo.com/video/183819860" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</section>
	<section class="section images">
		<h2>In the Press</h2>
		<span><a href="press_kit.html"><img src="static/img/as_seen_on.png"></a></span>
	</section>
</article>
{% endblock %}
