{% extends 'base.html' %}

{% block content %}
<div class="section images">
	<span><h2>In the Press</h2><img src="static/img/as_seen_on.png"></span>
</div>

<div class="section info">
	<p><a href="http://seattletimes.com/html/localnews/2025040430_jdlcolumn17xml.html">Seattle Times - Showing Seattle's homeless a little warmth</a></p>
	<p><a href="http://www.king5.com/story/entertainment/television/programs/evening-magazine/2014/11/17/sleepless-in-seattle-homeless-sleeping-bags/19196575/">KING 5 / Evening Magazine (TV show) - Seattle man launches campaign to give homeless sleeping bags.</a></p>
	<p><a href="http://www.komonews.com/seattlerefined/lifestyle/Sleepless-in-Seattle-The-movement-not-the-movie-281700211.html">KOMO News (Seattle Refined) - Sleepless in Seattle: The movement not the movie</a></p>
	<p><a href="http://sleeplessinseattle.org/files/KOMORadioInterviewwithTomandJulie.mp3">KOMO 1000 AM - 4 Minute Interview</a></p>
	<p><a href="http://www.mi-reporter.com/community/282302141.html">Mercer Island Reporter - A Warm Place to Sleep</a></p>
	<p><a href="http://www.bellevuereporter.com/news/282342941.html">Bellevue Reporter - Group hopes to provide warmer nights for King County homeless</a></p>
	<p><a href="http://www.redmond-reporter.com/news/283421601.html">Redmond Reporter - Redmond native Wang's Sleepless in Seattle project helps homeless population</a></p>
	<p><a href="http://www.nwasianweekly.com/2014/11/commentary-sleepless-seattle-city-gives-back-bags/">NW Asian Weekly  - COMMENTARY: Sleepless in Seattle – the city gives back (and bags)</a></p>
</div>

<div class="press-kit">
	<a href="static/otr/press_kit.zip">
		<i class="ico-box-add"></i>
		Download Press Kit
	</a>
</div>
{% endblock %}