<!DOCTYPE html>
<html>
    <head>
        <title>Sleepless in Seattle 2015 - "Like" for a Cause</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/share.css') }}" />
        <meta property="og:title" content='Sleepless in Seattle 2015 - "Like" for a Cause' />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{ url_for('static', filename='img/header.png') }}" />
        <meta property="og:description" content="We're almost at our goal, help us get there in record time!" />
    </head>
    <body>
        <div id="fb-root"></div>
        <h1>Sleepless in Seattle 2015 - "Like" for a Cause</h1>
        <div id="container">
            <p id="video">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/Ct0CDQ_r3-c" frameborder="0" allowfullscreen></iframe>
            </p>
            <div id="actions">
                <p>Would you consider supporting us on social media with just a few clicks of your mouse? Liking the following articles written about Sleepless in Seattle will help raise awareness about the need and the Sleepless in Seattle 2015 campaign. Thank you so much for your support!</p>
                <div class="clearfix">
                    <div class="like">
                        <b>Facebook Page</b><br /><br />
                        <div class="fb-like" data-href="https://www.facebook.com/sleeplessinseattlegiving" data-send="false" data-layout="box_count"></div>
                    </div>

                    <div class="like">
                        <b>Salon</b><br /><br />
                        <div class="fb-like" data-href="" data-send="false" data-layout="box_count"></div>
                    </div>

                    <div class="like">
                        <b>Fast Co.</b><br /><br />
                        <div class="fb-like" data-href="" data-send="false" data-layout="box_count"></div>
                    </div>

                    <div class="like">
                        <b>Thrillist</b><br /><br />
                        <div class="fb-like" data-href="" data-send="false" data-layout="box_count"></div>
                    </div>

                    <div class="like">
                        <b>Huff. Post</b><br /><br />
                        <div class="fb-like" data-href="" data-send="false" data-layout="box_count"></div>
                    </div>

                    <div class="like">
                        <b>Mashable</b><br /><br />
                        <div class="fb-like" data-href="" data-send="false" data-layout="box_count"></div>
                    </div>

                    <div class="like">
                        <b>Greatist</b><br /><br />
                        <div class="fb-like" data-href="" data-send="false" data-layout="box_count"></div>
                    </div>
                </div>
                <br /><br />
                <div class="bottom">
                    <a href="http://bit.ly/sleepless2015">
                        <button>Visit Sleepless in Seattle 2015 Campaign</button>
                    </a>
                </div>
            </div>
        </div>
        <script>(function(d, s, id) {
        	var js, fjs = d.getElementsByTagName(s)[0];
        	if (d.getElementById(id)) return;
        	js = d.createElement(s); js.id = id;
        	js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        	fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </body>
</html>