{% extends 'base.html' %}

{% block content %}
<div class="section images">
	<span><h3>Sponsorships</h3><img src="{{ url_for('static', filename='img/sponsors.png') }}"></span>
</div>

<div class="section info">
	<p><a href="http://www.mmcomfortsystems.com/">MM Comfort Systems</a> has made a generous contribution to further their commitment to keeping those on and off the streets warm for the winter. " MM Comfort System will also provide one free furnace to a randomly selected Sleepless in Seattle donor at the end of the campaign!</p>
	<p><a href="http://exxel.com/">Exxel Outdoors</a> is providing over 2,000 deeply-discounted sleeping bags, covering the freight costs from Alabama to Seattle, and donating additional sleeping bags.</p>
	<p><a href="http://www.columbia.com/">Columbia Sportswear</a> has donated 200 warm beanies to be distributed alongside sleeping bags.</p>
	<p><a href="http://www.pinkabellacupcakes.com/">PinkaBella Cupcakes</a> will be donating a cupcake with every sleeping bag on the "Big Give" to the homeless throughout our community.</p>
</div>
{% endblock %}