{% extends 'base.html' %}

{% set VOLUNTEER_SIGNUP="http://bit.ly/sleepless2015volunteer" %}

{% block content %}
<section class="section info">
    <h1>Volunteer</h1>
    <p><strong>Thank you for your interest in volunteering with Sleepless in Seattle!</strong></p>
    <p>Volunteer opportunities are available for people regardless of experience and qualifications.</p>
    <p>To get started, please fill out <a href="{{VOLUNTEER_SIGNUP}}">this volunteer signup form</a>, and we will get back to you with a number of placement options including the Big Give on Saturday 12/16/2017.</p>
    <p>As a volunteer, you will have the opportunity to:</p>
    <ol>
        <li>
            <strong>Build relationships and make friends.</strong>
            <div class="subtext">We believe that in the context of friendship, "people happen." Friends provide emotional support and empower one another to make healthy life choices.</div>
        </li>
        <li>
            <strong>Meet immediate needs.</strong>
            <div class="subtext">Teams will help provide basic life essentials like food, water, sleeping bags, as needs arises.</div>
        </li>
        <li>
            <strong>Make referrals to appropriate social services.</strong>
            <div class="subtext">Teams will partner with appropriate nonprofits, businesses, and social services to make referrals (e.g. long-term housing options).</div>
        </li>
    </ol>
    <div class="clear"></div>
    <a href="https://www.google.com/maps/d/edit?hl=en&authuser=0&mid=zEBz4GhR1yPU.kKiNBGoPDd4o" target="_blank">
        <img src="{{ url_for('static', filename='img/2015map.png') }}" alt="Neighborhood map" class="map_img">
    </a>
    <p class="caption">Neighborhood team map.</p>
    <div class="clear"></div>
    <h3>Neighborhood Teams are designed to empower volunteers to:</h3>
    <h3>Make friends.</h3>
    <p>Teams will strive get to know one another as well as those experiencing homelessness on a friendly basis. We believe that in the context of friendship, "people happen"  as friends provide emotional support and empower one another to make healthy life choices.</p>
    <h3>Meet immediate needs.</h3>
    <p>Teams will help provide basic life essentials like food, water, and sleeping bags as needs arise.</p>
    <h3>Make referrals to appropriate social services.</h3>
    <p>Teams will partner with appropriate nonprofits, businesses, and social services to make referrals.</p>
    <div class="clear"></div>
    <img src="{{ url_for('static', filename='img/photo/1.jpg') }}" alt="Photo of big give">
    <img src="{{ url_for('static', filename='img/photo/6.jpg') }}" alt="Photo of big give">
    <img src="{{ url_for('static', filename='img/photo/5.jpg') }}" alt="Photo of big give">
    <img src="{{ url_for('static', filename='img/photo/4.jpg') }}" alt="Photo of big give">
    <img src="{{ url_for('static', filename='img/photo/3.jpg') }}" alt="Photo of big give">
    <img src="{{ url_for('static', filename='img/photo/8.jpg') }}" alt="Photo of big give">
    <div class="clear"></div>
    <div class="signup">
        <a href="{{ VOLUNTEER_SIGNUP }}">Volunteer Sign Up Form</a>
    </div>
    <div class="clear"></div>
    <p>Looking for other ways to help? Check out United Way's <a href="https://volunteer.truist.com/uwkc/volunteer/search-2.aspx?keyword=&medallions=&term_id=201&city=&zip=&radius=0">list of homelessness-related volunteering opportunities</a>.</p>
</section>
{% endblock %}
