{% extends 'base.html' %}

{% set VOLUNTEER_SIGNUP="https://goo.gl/forms/qBvOuGYC0PThIkMN2" %}

{% block content %}
<section class="section info">
    <h1>Volunteer</h1>
    <p><strong>Thank you for your interest in volunteering with Sleepless in Seattle!</strong></p>
    <p>Volunteer opportunities are available for people regardless of experience and qualifications.</p>
    <p>If you would like to volunteer for the Big Give on Saturday, December 16th, 2017, please fill out <a href="{{VOLUNTEER_SIGNUP}}">this volunteer signup form</a>, and we will get back to you with placement options.</p>
    <p>As a volunteer, you will have the opportunity to:</p>
    <ol>
        <li>
            <strong>Build relationships and make friends.</strong>
            <div class="subtext">We believe that in the context of friendship, "people happen." Friends provide emotional support and empower one another to make healthy life choices.</div>
        </li>
        <li>
            <strong>Meet immediate needs.</strong>
            <div class="subtext">Teams will help provide basic life essentials like food, water, sleeping bags, as needs arises.</div>
        </li>
        <li>
            <strong>Make referrals to appropriate social services.</strong>
            <div class="subtext">Teams will partner with appropriate nonprofits, businesses, and social services to make referrals (e.g. long-term housing options).</div>
        </li>
    </ol>
    <div class="clear"></div>
    <a href="https://www.google.com/maps/d/edit?hl=en&authuser=0&mid=zEBz4GhR1yPU.kKiNBGoPDd4o" target="_blank">
        <img src="{{ url_for('static', filename='img/2015map.png') }}" alt="Neighborhood map" class="map_img">
    </a>
    <p class="caption">Neighborhood map.</p>
    <div class="clear"></div>
    <h3>Reaching the Greater Seattle Area</h3>
    <p>Teams will be equipped with basic essentials such as food, water, sleeping bags, sleeping pads, and warm clothing. Teams will be sent to each of the neighborhoods above during the Big Give. Our mission is to strive get to know one another as well as those experiencing homelessness on a friendly basis.</p>
    <h3>Photos from previous years:</h3>
    <img src="{{ url_for('static', filename='img/photo/1.jpg') }}" alt="Photo of big give">
    <img src="{{ url_for('static', filename='img/photo/6.jpg') }}" alt="Photo of big give">
    <img src="{{ url_for('static', filename='img/photo/5.jpg') }}" alt="Photo of big give">
    <img src="{{ url_for('static', filename='img/photo/4.jpg') }}" alt="Photo of big give">
    <img src="{{ url_for('static', filename='img/photo/3.jpg') }}" alt="Photo of big give">
    <img src="{{ url_for('static', filename='img/photo/8.jpg') }}" alt="Photo of big give">
    <div class="clear"></div>
    <div class="signup">
        <a href="{{ VOLUNTEER_SIGNUP }}">Volunteer Sign Up Form</a>
    </div>
    <div class="clear"></div>
    <p>Looking for other ways to help? Check out United Way's <a href="https://volunteer.truist.com/uwkc/volunteer/search-2.aspx?keyword=&medallions=&term_id=201&city=&zip=&radius=0">list of homelessness-related volunteering opportunities</a>.</p>
</section>
{% endblock %}
