$break-lg: 57rem;
$break-sm: 30rem;
$break-md: 43rem;

@import 'font';

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

html {
	padding: 0;
	height: 100%;
}


/*
 * Body
 */
body {
	height: 100%;
	padding: 0;
	background: #243044 url("../img/bg.jpg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	font-family: expo-sans-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 16px;
	color: #F4F7FD;//#ebf0fa;
	text-shadow: 1px 1px 1px #424242;
	letter-spacing: 1px;
	.page-wrap {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -14em;
		background-color: rgba(0,0,0,.3);
	}
	.push {
		height: 14em;
		pointer-events: none;
	}
	footer {
		height: 17em;
	}
	a {
		color: #6BC9FB;//rgb(184, 229, 253);
		font-weight: 200;

		&.btn {
			font-weight: 200;
		}

		&.no-decor {
			text-decoration: none;
		}

		&.secondary-link {
			text-decoration: none;
			border-bottom: 1px dotted white;
		}
	}

	p {
		line-height: 1.3em;
	}
}


.clear {
	&:after {
		content: ".";
		height: 0;
		display: block;
		visibility: hidden;
		clear: both;
	}
}




/*
 * Buttons
 */
.btn {
	position: relative;
	display: inline-block;
	background-color: #44698a;
	border: 2px solid #557a9b;
	border-radius: 3px;
	font-size: 1.3rem;
	padding: 0.5rem 1rem;
	color: #ddd;
	text-shadow: 1px 1px 0 #0b2c4d;
	box-shadow: 1px 2px 0 #0b2c4d;
	margin: 5px auto;
	text-decoration: none;
	cursor: pointer;

	&.small {
		font-size: 1.1rem;
		padding: 0.5rem 0.6rem;
	}

	&:active {
		top: 1px;
		box-shadow: 1px 1px 0 #0b2c4d;
	}
}

/*
 * Overlay
 */
.overlay {
	position: fixed;
	z-index: 20;
	background-color: rgba(100,100,100,.10);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


.fb-placer {
	z-index: 120;
	margin: -.5rem auto 2rem auto;
	width: 120px;
	display: block;
}

iframe.map {
	width: 100%;
	height: 480px;
}


.content-wrap {
	position: relative;
	z-index: 100;
	max-width: 70rem;
	margin: 0 auto;
	/*min-height: 100%;*/
}

.nav {
	position: relative;
	float: right;
	margin-top: 1rem;
	margin-right: 2rem;
	z-index: 200;

	a {
		text-transform: uppercase;
		text-decoration: none;
	}

	.nav-item {
		margin-top: .5rem;
		margin-bottom: .5rem;
		display: block;
		&.fb {
			display: block;
			height: 24px;
			overflow: hidden;
			.fb-like {
				max-width: 200px;
			}
		}
		a {
			color: white !important;
			padding-right: 1rem;
			padding-left: 1rem;
			border-right: 2px solid #f4f4f4;

			&:last-of-type {
				border-right: none;
				padding-right: 0;
			}
		}
	}

	.fb-like {
		float: right;
	}
}


.section {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}


/*
 * Header
 */
header {
	position: relative;
	margin: 0 auto;
	/*padding-top: 1.8rem;*/
	display: block;
	width: 48rem;
	max-width: 70%;
	text-align: center;
	color: #f0f2f5;
	font-size: 1.2rem;
	text-shadow: 1px 1px 3px #555;
	z-index: 100;

	p {
		margin-top: 20px;
	}

	.logo {
		margin: 0 auto;
		width: 60%;
		max-width: 100%;
		max-height: 100%;
		/*opacity: .75;*/
	}
}

/*
 * Info
 */
.info {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 43rem;
	h1, h2, h3, h4 {
		margin-bottom: 1em;
	}
	h1 {
		text-align: center;
	}
	h4 {
		display: inline-block;
		border-bottom: 1px solid white;
	}

	p {
		position: relative;
		padding-right: 2rem;
		margin: 1em 0;
	}
	.caption {
		font-style: italic;
	}

	img {
		max-width: 100%;
	}
	.signup {
		text-align: center;
		font-size: 150%;
		a {

		}
	}

	.docblock {
		margin-top: 3.5rem;
	}

	.map-location {
		background-color: rgba(255,255,255,.1);
	}

	table {

		td {
			padding: .3rem .7rem;

			&:nth-child(2) { border-left: 1px solid white; }
			&:first-of-type { text-align: right; }
		}
	}
	&.center {
		text-align: center;
	}
	.clear {
		height: 1em;
	}
}

.toc {
	a {
		text-decoration: none;
		border-bottom: 1px dotted white;
	}

	ul {

		padding: 0;
		margin: 0;

		li {
			list-style: none;
		}
	}
}


/*
 * Press Kit
 */
.press-kit {
	display: block;
	text-align: center;
	font-size: 1.5rem;
	margin: 0 auto;
	max-width: 27rem;
	padding: 2rem 0.8rem;
	/*margin-top: 0.8rem;*/
	/*margin-bottom: 2.2rem;*/

	a {
		color: white;
		text-decoration: none;
		display: inline-block;
		/*padding: 1rem 2rem;*/
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}
	}

	i {
		display: block;
		font-size: 4rem;
		margin-bottom: .4rem;
	}
}

.images {
	margin: 0 auto;
	text-align: center;
	padding: 0 2rem;
	max-width: 84rem;

	span {
		display: inline-block;
		margin: 0 auto;
	}

	img {
		max-width: 100%;
		background-color: rgba(255,255,255,0.2);
		border: 2px solid rgba(255,255,255,.4);
		border-radius: 3px;
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
}
footer {
	background-color: #0f0f13;
	width: 100%;
	margin-top: 4em;

	.width-wrap {
		display: block;
		margin: 0 auto;
		max-width: 35rem;
	}

	ul {
		float: left;
		padding: 2rem 1.5rem;
		width: 49%;

		li {
			list-style: none;
			padding: .4rem 0;

			a {
				border-bottom: 1px dotted white;
				text-decoration: none;
				color: #ccc;
			}
		}
	}
}




/*
 * Breakpoints
 */
@media screen and (min-width: $break-lg) {

}


@media screen and (max-width: $break-md) {
	header {
		width: 90%;
		max-width: 100%;
	}

	header .logo{ width:70% }
	header .logo{opacity:0.83}

}

@media screen and (max-width: 50rem) {
	.images span {width: 80%;}
}


@media screen and (max-width: $break-sm) {

	header .logo{width:87%}
	header .logo{opacity:0.93}
	.info {
		max-width:90%;
		padding:0;
	}
	.images span {width: 98%;}

	.width-wrap {
		max-width: 30%;
	}
}


#mc_embed_signup {
	clear: both;
	#mce-EMAIL {
		padding: 10px;
		width: 75%;
		background-color: #222;
		color: #fff;
		border: 1px solid #D2D2D2;
    	border-radius: 3px;
    	transition: border linear 0.2s, box-shadow linear 0.2s;
    	&:focus {
    		border-color: #1aafd1;
    	}
	}
}
